:root {
    --background: #252525;
    --text: #D4D4D4;
    --block: #191919;
    --highlight: #05aab0;
    --scrollbar: #37352F;
    --button-hover: #057ab0;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #F1F1EF;
        --text: #37352F;
        --block: hwb(0 100% 0%);
        --highlight: #05aab0;
        --scrollbar: #d4d4d4;
        --button-hover: #057ab0;
    }
}

.light-mode {
    --background: #F1F1EF;
    --text: #37352F;
    --block: #FFFFFF;
    --highlight: #05aab0;
    --scrollbar: #d4d4d4;
    --button-hover: #057ab0;
}


.dark-mode {
    --background: #252525;
    --text: #D4D4D4;
    --block: #191919;
    --highlight: #05aab0;
    --scrollbar: #37352F;
    --button-hover: #057ab0;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

#app {
    margin: auto auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    margin: 0;
    font-family: "ui-sans-serif", sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.container.front {
    padding: 1rem 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 11rem);
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.card.front {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--block);
    border-radius: 4px;
    flex: 1;

    .avatar {
        width: 100%;
        height: auto;
        border-radius: 4px 4px 0 0;
    }

    .desc {
        flex: 1;
        padding: 0.75rem 0.5rem 1rem 0.5rem;
        text-align: center;
        overflow-wrap: break-word;

        .name {
            margin: 0px 0px 0.75rem;
            border-bottom: 1px solid rgba(160, 160, 160, 0.3);
            padding-bottom: 0.25rem;
        }

        
    }
}

.front.link {
    border-radius: 4px;
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.front.link:hover, .front.link:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 3px rgba(#05aab0, 0.6);
    transform: scale(102%);
    transition: transform 0.1s ease-out;
}

.tinytext {
    font-size: 0.8rem;
    color:rgba(var(--text), 0.75)
}

.container.member {
    padding: 1rem 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .side {
        display: flex;
        flex-direction: column;
        border-radius: 4px 4px 0 0;
        gap: 1rem;
        height: 100%;

        .top {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
            gap: 1rem;

            .avatar {
                width: 100%;
                max-width: none;
                height: auto;
                border-radius: 4px;
                object-fit: cover;
            }

            .info {
                display: flex;
                gap: 0.325rem;
                flex-direction: column;
                flex: 0 0 auto;
                padding: 1rem;
                padding-right: 0.5rem;
                border-radius: 4px;
                background-color: var(--block);
                flex: 1;

                h3 {
                    margin: 0;
                }

                hr {
                    border: none;
                    height: 2px;
                    width: 100%;
                    background-color: var(--background);
                }
            }
        }
}

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 100%;

        .desc {
            padding: 1rem;
            padding-right: 0.5rem;
            border-radius: 4px;
            background-color: var(--block);


            div {
                overflow: auto;
                height: 100%;
                padding-right: 0.5rem;
                scrollbar-width: thin;
                scrollbar-color: var(--scrollbar) transparent;
            }

            ::-webkit-scrollbar {
                width: 7px;
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 3.5px;
                background-color: var(--scrollbar);
            }

        }

        .banner {
            width: 100%;
            position: relative;
            padding-top: 30%;
            border-radius: 4px;

            img {
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.container.info {
    align-items: center;
    margin: auto;
    padding: 1rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        padding: 1rem;
        border-radius: 4px;
        background-color: var(--block);
    }
}

input {
    padding: 0.5rem;
    border:rgba(160, 160, 160, 0.3);
    border-radius: 4px;
    background-color: var(--background);
}

.button {
    border: none;
    padding: 0.75rem;
    color: #ffffff;
    background: var(--highlight);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 1rem;
}

.button:hover {
 background-color: var(--button-hover);
 color: #ffffff;
 transition: all 0.1s ease-out;
 transform: scale(105%);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 400px) {
    .container.member {
        .side {
            .top {
                flex-direction: row;

                .avatar {
                    max-width: 12rem;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .container.member {
        flex-direction: row;
        justify-content: center;

        .side {
            width: 30%;
            max-width: 15rem;

            .top {
                flex-direction: column;
    
                .avatar {
                    max-width: 100%;
                }
            }
        }

        .content {
            max-width: 35rem;

            .desc div {
                max-height: 18rem;
            }
        }
    }

    .container.info {
        width: 75%;
        max-width: 45rem;
    }

    .row {
        flex-direction: row;
    }

    .button {
        width: min-content;
    }
}

/* discord markdown stuff */
.emoji, .d-emoji {
   height: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

blockquote {
    margin: 0.75rem 0;
    padding: 0 0 0 1.5rem;
    border-left: 4px solid var(--background);
}

a {
    color: var(--highlight);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--button-hover);
}